<ion-view view-title="Feedback TIme">
  <ion-content>

    <button class="button button-royal button-block" >Rate the current topic</button>
    <br>
    <h3 class="item">Tilt device left or right to fill the bar.</h3>

    <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
      <ion-slide ng-repeat="question in questions track by $index">

        <div class="card padding_vertical item item-body">
        <p><h3>Question {{$index + 1}}: 
        <p><h2>{{question.$value}}</h2></p>
        </h3></p> 

        <uib-progressbar max="max" ng-hide="question.Rating" value="dynamic" type="{{type}}" style="height: 20px"><span >{{dynamic}} / {{max}}</span></uib-progressbar>

        <div class="item item-text-wrap item-icon-right" style="margin-left: -15px" ng-show="question.Rating">
        <b>Your Rating:</b> 
        <p>
        <h1 ng-class="question.Rating > 45 ? 'balanced' : 'assertive'">{{question.Rating}} / {{max}}</h1>  
        </p>
        <i class="icon ion-refresh icon-accessory" ng-click="rateAgain()"></i>
        </div>
        </div>

      </ion-slide>
    </ion-slide-box>      

 <br>
    <button class="button button-block" ng-click="submitSurvey()">Submit</button>

</ion-content>
</ion-view>
