<ion-view view-title="Account">

    <ion-content>
        
        <div class="list card">

            <center>
                <h2>{{authData.displayName}}</h2>
                <p><strong>Location: </strong>User's City</p>
            </center>

            <div class="item item-body">
                <center>
                    <img src="{{ authData.cover}}" style="width:200px" class="headshot menu-item">
                    <p align="middle" style="width:50%">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                    </p>
                </center>
            </div>
        </div>
    </ion-content>
</ion-view>
